<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Blokus{% block title %}{% endblock %}</title>
		<meta name="description" content="Blokus Game" />
		<meta name="author" content="Comp3001 Group Blokus" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="apple-touch-icon" href="apple-touch-icon.png" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css"/>
		{% block extracss %}{% endblock %}
		<script src="{{ STATIC_URL }}js/jquery.js"></script>
		<script src="{{ STATIC_URL }}js/raphael.js"></script>
		<script src="{{ STATIC_URL }}js/underscore.js"></script>
		<script src="{{ STATIC_URL }}js/backbone.js"></script>
		<!-- blokus core -->
		<script src="{{ STATIC_URL }}js/blokus.js"></script>
		<script src="{{ STATIC_URL }}js/models.js"></script>
		<script src="{{ STATIC_URL }}js/collections.js"></script>
		<script src="{{ STATIC_URL }}js/ForgotView.js"></script>
		<script src="{{ STATIC_URL }}js/GameView.js"></script>
		<script src="{{ STATIC_URL }}js/HelpView.js"></script>
		<script src="{{ STATIC_URL }}js/LobbyView.js"></script>
		<script src="{{ STATIC_URL }}js/ProfileView.js"></script>
		<script src="{{ STATIC_URL }}js/RegisterView.js"></script>
		<script src="{{ STATIC_URL }}js/utils.js"></script>
		<script src="{{ STATIC_URL }}js/labels.js"></script>
	</head>
	<body>
		<img src="{{ STATIC_URL }}img/logo.png" id="logo"/>
		<div id="container"></div>

		<div class="templates">
			<script type="text/html" id="lobby-template">
				<div id="profileBox" class="box">
					<img alt="Guest"/>
					<div id="profileInfo">
						<h1>Hello Guest!</h1>
						<p>Please login to save your scores</p>
					</div>
					<div id="profileMenu" style="display:none;">
						<a href="javascript:;" class="button">Profile</a>
						<a href="javascript:;" class="button">Logout</a>
					</div>
					<div id="signedOut">
						<form action="/login/" method="post" name="signInForm">
							{% csrf_token %}
							<a href="javascript:document.signInForm.submit();" class="button">Login</a>
							<div>
								<label class="input">
									<span>Username</span>
									<input type="text" />
								</label>
								<label class="input">
									<span>Password</span>
									<input type="password" />
								</label>
								<a href="#register">Register</a>
								<a href="#forgot">Forgot?</a>
							</div>
						</form>
					</div>					
				</div>
				<ul class="modelist">
					<li class="box">
						<div>
							<h2>quick<br/>play</h2>
						</div>
						<p>Start playing a 2 or 4 player game with anyone</p>
						<a href="#game/1" class="button">Play Now</a>
					</li>
					<li class="box">
						<div>
							<h1>2</h1>
							<h3>players</h3>
						</div>
						<p>Start playing a 2 player game with anyone</p>
						<a href="javascript:;" class="button">Play Now</a>
					</li>
					<li class="box">
						<div>
							<h1>4</h1>
							<h3>players</h3>
						</div>
						<p>Start playing a 4 player game with anyone</p>
						<a href="javascript:;" class="button">Play Now</a>
					</li>
					<li class="box">
						<div>
							<h2>private<br/>lobby</h2>
						</div>
						<p>Start playing a private game and invite your friends</p>
						<a href="javascript:;" class="button">Play Now</a>
					</li>
				</ul>
				<div id="privatelobby" class="box clearfix">
					<h1>private lobby</h1>
					<p>Waiting for players to join...</p>
					<p><a href="#">Invite URL</a>: Send this to your friends!</p>
					<ul class="lobbylist">
						<li>zanders3</li>
					</ul>
					<a href="#" class="button">Start Game</a>
				</div>
			</script>
			<script type="text/html" id="game-template">
			</script>
			<script type="text/html" id="help-template">
				<h2>How to play blokus</h2>
				<p>Blokus is a 2 or 4 player game which.... yada yada</p>
			</script>
			<script type="text/html" id="register-template">
				<div class="form box">
					<h1>Register</h1>
					<p>Registration can't be this quick and easy... can it?</p>
					<form action="/register/" name="registerForm" method="post">
						{% csrf_token %}
						<label class="input">
							<span>Username</span>
							<input name="username" type="text" />
						</label>
						<label class="input">
							<span>Email Address</span>
							<input name="email" type="text" />
						</label>
						<label class="input">
							<span>Password</span>
							<input name="password" type="password" />
						</label>
						<label class="input">
							<span>Confirm Password</span>
							<input name="password2" type="password" />
						</label>
						<a href="javascript:document.forms.registerForm.submit();" class="button" style="clear:left;">Register</a> <a href="#" class="button">Cancel</a>
					</form>
				</div>
			</script>
			<script type="text/html" id="forgot-template">
				<div id="forgot" class="form box">
					<h1>Forgot your password</h1>
					<p>Enter your email address below to recieve a new password</p>
					<form name="forgotForm" action="/forgot/" method="post">
						{% csrf_token %}
						<label class="input">
							<span>Email Address</span>
							<input name="email" type="text" />
						</label>
						<a href="javascript:document.forms.forgotForm.submit();" class="button" style="clear:left;">Send</a> <a href="#" class="button">Cancel</a>
					</form>
				</div>
			</script>
			<script type="text/html" id="profile-template">
				<h2><%= username %>'s profile</h2>
				<dl>
					<dt>Joined</dt><dd><%= joined %></dd>
					<dt>Wins</dt><dd><%= wins %></dd>
					<dt>Losses</dt><dd><%= losses %></dd>
				</dl>
				<% if (username === blip.user.get("username")) { %>
					<input type="button" value="Edit">
				<% } %>
			</script>
		</div>

	</body>
</html>
