<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="google-site-verification" content="bkY2l8MrBlNwS68f0w2LZbNpJB3FPMEgRx734kU5cDo" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Blokus Game</title>
		<meta name="description" content="Blokus Game" />
		<meta name="author" content="Comp3001 Group Blokus" />
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/icon.ico" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css"/>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css"/>
		<script src="{{ STATIC_URL }}js/jquery.js"></script>
		<script src="{{ STATIC_URL }}js/raphael.js"></script>
		<script src="{{ STATIC_URL }}js/underscore.js"></script>
		<script src="{{ STATIC_URL }}js/backbone.js"></script>
		<!-- blokus core -->
		<script src="{{ STATIC_URL }}js/blokus.js"></script>
		<script src="{{ STATIC_URL }}js/models.js"></script>
		<script src="{{ STATIC_URL }}js/collections.js"></script>
		<script src="{{ STATIC_URL }}js/shape.js"></script>
		<script src="{{ STATIC_URL }}js/GameView.js"></script>
		<script src="{{ STATIC_URL }}js/LobbyView.js"></script>
		<script src="{{ STATIC_URL }}js/RegisterView.js"></script>
		<script src="{{ STATIC_URL }}js/GameBoard.js"></script>
		<script src="{{ STATIC_URL }}js/PlayerPanel.js"></script>
		<script src="{{ STATIC_URL }}js/utils.js"></script>
		<script src="{{ STATIC_URL }}js/labels.js"></script>
		<script src="{{ STATIC_URL }}js/clock.js"></script>
	</head>
	<body>
		<img src="{{ STATIC_URL }}img/logo.png" id="logo"/>
		<div class="vignette"></div>
		<div id="errorstackcontainer"><div id="errorstack"></div></div>
		<div id="msgcontainer" style="display: none">
			<div id="msg">
				<div class="content">Message</div>
				<div>
					<div class="okButtons buttons"><a href="javascript:;" class="button close">OK</a></div>
					<div class="yesNoButtons buttons"><a href="javascript:;" class="button yes">Yes</a><a href="javascript:;" class="button no">No</a></div>
				</div>
			</div>
		</div>
		<div id="blokuswaiting" class="loading" style="display: none"></div>
		<div id="container"></div>
		<div class="templates">
			<script type="text/html" id="lobby-template">
				<div id="profileBox" class="box">
					<img alt="avatar" src="<%= picsrc %>" />
					<div id="profileInfo">
						<div class="welcome serif">Hello <%= name %>!</div>
						<div class="stats"><%= stats %></div>
					</div>
					<div id="profileMenu" <%= hideProfile %>>
						<a href="/logout/" id="signout-button" class="button">Logout</a>
					</div>
					<div id="signedOut" <%= hideSignOut %>>
						<form action="/login/" id="loginForm" method="post">
							{% csrf_token %}
							<label>
								<span>Username</span>
								<input name="username" type="text" />
							</label>
							<label>
								<span>Password</span>
								<input name="password" type="password" />
							</label>
							<input type="submit" value="Log in" class="button">
						</form>
						<div class="links">
							<a href="{% url socialauth_begin 'google' %}">Login with Google</a>
							<a href="{% url socialauth_begin 'facebook' %}">Login with Facebook</a>
							<a href="#register">Register</a>
						</div>
					</div>
				</div>
				<ul class="modelist">
					<li class="box">
						<div>
							<h2>quick<br/>play</h2>
						</div>
						<p>Start playing a 2 or 4 player game with anyone</p>
						<a href="#game/1" class="button">Play Now</a>
					</li>
					<li class="box">
						<div>
							<h1>2</h1>
							<h3>players</h3>
						</div>
						<p>Play a 2 player Blokus game</p>
						<a href="javascript:;" class="button">Play Now</a>
					</li>
					<li class="box">
						<div>
							<h1>4</h1>
							<h3>players</h3>
						</div>
						<p>Play a 4 player Blokus game</p>
						<a href="javascript:;" class="button">Play Now</a>
					</li>
					<li class="box">
						<div>
							<h2>private<br/>game</h2>
						</div>
						<p>Start a private game by inviting your friends</p>
						<a href="javascript:;" class="button">Play Now</a>
					</li>
				</ul>
				<div id="waiting" class="box clearfix serif"  style="display:none;">
					<div>
						<div class="title"></div>
						<p>Waiting for other players...</p>
						<div class="loading"></div>
						<a href="javascript:;" class="button" id="cancel">Cancel</a>
					</div>
				</div>
				<div id="privatelobby" class="box clearfix serif" style="display:none;">
					<div>
						<div class="title">private game</div>
						<p>How many players?</p>
						<div class="playerchoices">
							<div class="p2">
								<b class="big">2</b> <b class="players">players</b>
								<p>Each player will have two colours</p>
							</div>
							<div class="p4">
								<b class="big">4</b> <b class="players">players</b>
								<p>Each player will have one colour</p>
							</div>
						</div>
						<div class="details" style="display: none">
							<p>Tell your friends to go to the following URL to join the game</p>
							<input type="text" id="gameurl" class="serif" value="http://blokus.fdsfsd">
							<div class="players">
								<div class="p1" data-online="false">
									<span class="name">Player 1</span><div class="colour"></div>
									<div class="online"><img class="pic"><b class="name"></b></div>
									<div class="offline">Waiting for player...</div>
								</div><div class="p2" data-online="false">
									<span class="name">Player 2</span><div class="colour"></div>
									<div class="online"><img class="pic"><b class="name"></b></div>
									<div class="offline">Waiting for player...</div>
								</div><div class="p3" data-online="false">
									<span class="name">Player 3</span><div class="colour"></div>
									<div class="online"><img class="pic"><b class="name"></b></div>
									<div class="offline">Waiting for player...</div>
								</div><div class="p4" data-online="false">
									<span class="name">Player 4</span><div class="colour"></div>
									<div class="online"><img class="pic"><b class="name"></b></div>
									<div class="offline">Waiting for player...</div>
								</div>
							</div>
						</div>
						<div class="buttons">
							<a href="javascript:;" class="button" id="cancel">Cancel</a>
						</div>
					</div>
				</div>
			</script>
			<script type="text/html" id="game-template">
				<input type="button" class="button game-help" value="How to play">
				<input type="button" class="button game-exit" value="Exit game">
				<div class="toppanel left">
					<h1>Player Turn</h1>
					<span class="playerduration"></span>
				</div>
				<div class="toppanel right">
					<h1>Duration</h1>
					<span class="duration"></span><br/>
				</div>
				<div class="loading"></div>
				<div id="helpscreen" style="display: none">
					<h1>How to Play</h1>
					<div id="slider">
					<div id="inner">
					<h2>About Blokus</h2>
					<p>Blokus (pronounced "block us") is a simple strategy game for two or four players. Much like Dominoes; the aim is to use all of your pieces, subject to certain restrictions.</p>
					<br>
					<h2>How To Play</h2>
					<p>Blue goes first, then yellow, red, and green. On your turn you must take on of your unplaced pieces and add it to the board, according to the following rules:
						<ol>
						<li>Your first piece played must be placed in your corner of the board.</li>
						<li>Following pieces must share a corner with at least one piece of the same color.</li>
						<li>No piece placed may share an edge with any pieces of the same colour.</li>
						</ol>
					</p>
					<h2>2 Player Variant</h2>
					<p>If there are only 2 players then each player controls 2 colours. This opens up many new strategies as one colour may be sacrificed for the benefit of the other.
					</p>
					<h2>End of the Game</h2>
					<p>When a player can no longer place any pieces on the board, they must miss their turn. The other players continue in the normal order of play until no one can place any more pieces on the board. At which point scores are calculated based on the following rules:
					<ol>
						<li>Each square which is not placed on the board counts as a negative point.</li>
						<li>A bonus of 15 points is awarded if all 21 pieces have been placed on the board.</li>
						<li>This bonus is increased to 20 points if the 21 pieces were placed on the board with the single square being placed last.</li>
					</ol>
					<h2>Controls</h2>
					<p><ul>
						<li>To Pick up a piece: Left click on it once. This will attach it to your cursor.</li>
						<li>To drop a piece: Press 'Esc'</li>
						<li>To place a piece: Left click on the board in a valid position while holding a piece</li>
						<li>To rotate a piece: Press the left or right arrow keys while holding a piece</li>
						<li>To flip a piece horizontally: Press 'H' while holding a piece</li>
						<li>To flip a piece vertically: Press 'V' while holding a piece</li>
					</ul>
					</p>
					</div>
					</div>
					<div class="buttons"><a class="button close" href="javascript:;">Close</a></div>
				</div>
				<div class="playerpanelcontainer left"></div>
				<div class="playerpanelcontainer right"></div>
			</script>
			<script type="text/html" id="player-panel-template">
				<div>
					<img src="<%= pic %>" />
					<h1><%= name %></h1>
					<p><%= stats %></p>
				</div>
				<div id="turntext"><div></div></div>
			</script>
			<script type="text/html" id="register-template">
				<form action="{% url blokus.views.base %}" method="post" class="box form">
					{% csrf_token %}
					<h1>Register</h1>
					<p>Registration can't be this quick and easy... can it?</p>
					<label>
						<span>Username</span>
						{{ form.username }}
					</label>{{ form.username.errors }}<br/>
					<label>
						<span>Email Address</span>
						{{ form.email }}
					</label>{{ form.email.errors }}<br/>
					<label>
						<span>Password</span>
						{{ form.password1 }}
					</label>{{ form.password1.errors }}<br/>
					<label>
						<span>Confirm Password</span>
						{{ form.password2 }}
					</label>{{ form.password2.errors }}<br/>
					<input type="submit" value="Register" class="button" /> <input type="button" value="Cancel" class="button" onclick="window.location.href='#'"/>
				</form>
			</script>
		</div>
		{% if redirect %}
		<!-- Redirect to particular point on page -->
		<script type="text/javascript">
			window.location.hash = "{{redirect}}";
    	</script>
		{% endif %}
	</body>
</html>
