{% extends 'base.html' %}

{% block title %} Game{% endblock %}

{% block extrajs %}
	<!-- blokus core -->
	<script src="{{ STATIC_URL }}js/blokus.js"></script>
	<script src="{{ STATIC_URL }}js/models.js"></script>
	<script src="{{ STATIC_URL }}js/collections.js"></script>
	<script src="{{ STATIC_URL }}js/views.js"></script>
{% endblock %}

{% block navbuttons %}
	<a href="#" class="button">Help</a>
	<a href="#" class="button">Quit</a>
{% endblock %}

{% block content %}
<div id="gameboard"></div>
{% endblock %}