{% extends 'base.html' %}

{% block title %} Lobby{% endblock %}

{% block navbuttons %}
	<a href="#" class="button">Profile</a>
	<a href="#" class="button">Logout</a>
{% endblock %}

{% block extracss %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/lobby.css" type="text/css"/>
{% endblock %}

{% block content %}
	<div id="lobbylist-container"></div>
	<aside>
		<h1>Table 5</h1>
		<ul>
			<li>zanders3</li>
			<li>cooldude</li>
			<li class="available">Available Slot</li>
			<li class="available">Available Slot</li>
		</ul>
		<a href="#" class="button">Play</a>
	</aside>
{% endblock %}