{% extends 'base.html' %}

{% block title %} Lobby{% endblock %}

{% block navbuttons %}
	<a href="#" class="button">Help</a>
{% endblock %}

{% block extracss %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/lobby.css" type="text/css"/>
{% endblock %}

{% block content %}
	<div id="lobby">
		<h2>Welcome!</h2>
		<p>Please select a game mode:</p>
		<ul class="modelist">
			<li><a href="#" onclick="selectMode(0);">Quick Play</a></li>
			<li><a href="#" onclick="selectMode(1);">2 Players</a></li>
			<li><a href="#" onclick="selectMode(2);">3 Players</a></li>
			<li id="privatebutton"><a href="#" onclick="selectMode(3);">Private</a></li>
		</ul>
		<div id="privatelobby" class="clearfix">
			<ul class="lobbylist">
				<li>zanders3</li>
			</ul>
			<a href="#">Join URL</a>: Send this to your friends!<br/></br/>
			Waiting for players to join...<a href="#" class="button">Start Game</a>
		</div>
	</div>
{% endblock %}