<html>
<head>
<title>Debug</title>
</head>
<body>
<p>hello {{user}}.</p>
{% if message %}
<p><em>Message: {{message}}</em></p>
{% endif %}
<p>All users:
<table>
<tr><th>User Id</th><th>Username</th></tr>
{% for username in users %}
<tr><td>{{username.id}}</td><td><center>{{username.username}}</center></td></tr>
{%endfor%}
</table>
</p>
<form class="form-stacked" action="{% url blokus.views.debug_view %}" method="post">
{% csrf_token %}
<p>All profiles:
<table>
<tr><th>Profile ID</th><th>User ID</th><th>Status</th><th>Spoof Poll</th></tr>
{% for profile in profiles %}
<tr><td>{{profile.id}}</td><td>-&gt; {{profile.user.id}}</td>



<td>
<select name="{{profile.id}}" onchange="this.name = 'c{{profile.id}}'; forms[0].submit()">
<option>None</option>
{% for status in profile.status_choices %}
<option{% if status.0 == profile.status %} selected{%endif%}>{{status.0}}</option>
{% endfor %}
</select>
</td>




<td><a href="{% url blokus.views.spoof_poll profile.user.id%}">spoof</a></td></tr>
{%endfor%}
</table>
</p>
<p><a href="{% url socialauth_begin 'facebook' %}">Enter using Facebook</a></p>



	{% for field in form.visible_fields %}
	<div class="{% if field.errors %} error{% endif %}">
	{% if field.errors %}{% for error in field.errors %}
	<div class="alert-message block-message error fade in" data-alert="alert" >
		              <p><strong>{{error}}</strong></p>
		            </div>{% endfor %}{% endif %}
		            {{ field.label_tag }}
		              {{ field }}
		              <span class="help-inline">{{ field.help_text }}</span>
		          </div>
		        {% endfor %}
		        <input type="submit" name="Add user" value="Add user"/>
		      </fieldset>
</form>
</body>
</html>
