/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/*************************************/

html {
	background: url("../img/background.jpg");
	font-family: Tahoma, Helvetica, Georgia, sans-serif;
	height: 100%;
}

.button {
	background:white;
	padding:8px 20px;
	display:inline-block;
	font-family:Berlin Sans FB, Tahoma, Helvetica, Georgia, sans-serif;
	text-decoration:none;
	color:black;
	font-size:20px;
	border: 1px solid black;
	font-weight: bold;
	border-radius: 3px;
	opacity: 0.9;
}

.button:hover {
	background: gray;
}

#container {
	margin: 0px auto;
	width: 800px;
	position: relative;
}

#container > div {
	position: absolute;
	top: 0; left: 0; right: 0;
	min-height: 400px;
}
/* Form field labels */
.input {
  margin: 5px 0;
  background: white;
  float: left;
  clear: both;
}
.input span {
  position: absolute;
  padding: 5px;
  margin-left: 3px;
  color: #999;
}
.input input, .input textarea, .input select {
  position: relative;
  margin: 0;
  border-width: 1px;
  padding: 6px;
  background: transparent;
  font: inherit;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea, .input select { padding: 4px; }
}
/* Lobby Layout */
.box {
	background: black;
	color:white;
	opacity:0.8;
}

#profileBox {
	width:700px;
	height:100px;
	display:block;
	margin:80px 0px 20px 50px;
}
#profileBox img {
	width:80px;
	height:80px;
	margin:10px;
	float:left;
}
#profileInfo {
	margin-top:20px;
	margin-left:10px;
	width:260px;
	display:block;
	float:left;
}
#profileBox .button {
	float:right;
	margin-top:30px;
	margin-right:10px;
}
#signedOut {
	float:right;
	height:100px;
}
#signedOut div {
	width: 200px;
	display:block;
	float:right;
}
h1 {
	font-family:Palatino Linotype;
	font-weight:bold;
	font-size:24pt;
}

.modelist {
	font-family:Palatino Linotype;
	font-weight:bold;
	text-align:center;
	margin-left:30px;
}
.modelist li {
	margin-left:20px;
	padding-bottom:5px;
	width:160px;
	float:left;
}
.modelist li div {
	height:100px;
}
.modelist h1 {
	font-size:48pt;
}
.modelist h2 {
	font-size:22pt;
	padding-top:15px;
}
.modelist h3 {
	font-size:18pt;
}
.modelist p {
	height: 50px;
	padding: 10px;
	font-family:Arial;
	font-weight:normal;
}

#privatelobby {
	width:700px;
	margin:20px 0px 0px 50px;
}

.loading {
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	/* TODO: replace with something nicer */
	background: white url(../img/loading.gif) no-repeat center;
}