/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*************************************/

html {
	background: #E3EEF2;
	background: -moz-linear-gradient(top, #E3EEF2, #BCD6E1);
	background: -webkit-gradient(linear, left top, left bottom, from(#E3EEF2), to(#BCD6E1));
	font-family: Tahoma, Helvetica, Georgia, sans-serif;
	height: 100%;
}

.button {
	background: #8AB7CB;
	background: -moz-linear-gradient(top, #FFFFFF, #8AB7CB);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#8AB7CB));
	padding: 5px;
	font-family: Berlin Sans FB, Tahoma, Helvetica, Georgia, sans-serif;
	text-decoration: none;
	color: black;
	font-size: 22px;
	border: 2px solid black;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.button:hover {
	background: #FFFFFF;
	background: -moz-linear-gradient(top, #8AB7CB, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#8AB7CB), to(#FFFFFF));
}

#container {
	margin: 0px auto;
	width: 800px;
}

header {
	background: #BCD6E1;
	border-bottom: 2px solid black;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
}

header div {
	margin: 0px auto;
	width: 800px;
	height:67px;
}

header div img#logo {
	margin-left:21px;
	margin-top:16px;
}

nav {
	float: right;
	margin-top:34px;
	margin-right: 5px;
}

#profileButton {
	float: right;
	width: 150px;
	height: 29px;
	margin-top: 26px;
	border: 2px solid black;
	/*border-bottom: 2px solid #B3D0DD;*/
	padding-top: 10px;
	padding-bottom:0;
	background: #BCD6E1;
	text-align: center;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	font-size: 18px;
	color: black;
	text-decoration: none;
	font-family: Tahoma, Helvetica, Georgia, sans-serif;
}

#profileButton:hover {
	background: #E3EEF2;
	border-bottom: 2px solid #E3EEF2;
}

#profileButton.sel {
	background: #E3EEF2;
	border-bottom: 2px solid #E3EEF2;
}

#profileMenu {
	display: none;
	position: absolute;
	background: #E3EEF2;
	left: 0px; top:0px;
	border: 2px solid black;
	border-top: 0;
	padding-bottom:10px;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
}

#signedOutMenu {
	width: 240px;
	padding: 10px;
	padding-top: 30px;
}

#signedOutMenu a.button {
	float:right;
}

#signedOutMenu input {
	width: 220px;
}

#signedInMenu {
	display:none;
}

#signedInMenu div {
	width:180px;
	padding: 10px;
	padding-top: 20px;
}

#signedInMenu div ul {
	float:left;
	width:auto;
	margin-left:10px;
	margin-top:5px;
}

#signedInMenu div ul li {
	margin-top: 5px;
}

#signedInMenu div img {
	float:right;
	width:60px;
	height:60px;
	border: 2px solid black;
}

#signedInMenu ul.menu li a {
	background: #E3EEF2;
	width:180px;
	display:block;
	border-top: 1px solid #6A7276;
	padding: 10px;
	text-decoration:none;
	color:black;
}

#signedInMenu ul.menu li a:hover {
	background: #BCD6E1;
}