@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/*************************************/

html {
	background: url("../img/feltbg.jpg") center top;
	/*font-family: Tahoma, Helvetica, Georgia, sans-serif;*/
	font-family: 'Droid Sans', sans-serif;
	height: 100%;
	font-size: 12px;
}
h1, h2, h3, h4, h5, .serif, .title {
	font-family: 'Droid Serif', sans-serif;
}
.vignette {
	background:transparent -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	width:100%;
	height:100%;
	position:absolute;
	top:0;
}
/*.button {
	background:white;
	padding:8px 20px;
	display:inline-block;
	font-family:Berlin Sans FB, Tahoma, Helvetica, Georgia, sans-serif;
	text-decoration:none;
	color:black;
	font-size:20px;
	border: 1px solid black;
	font-weight: bold;
	border-radius: 3px;
	opacity: 0.9;
}*/

.button {
	border: 1px solid #7386C0;
	background: #CCCCCC;
	color: black;
	font-size: 12px;
	font-weight: bold;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.8);
	text-shadow: 0px 0 5px white, 0px 0 5px white, 0px 0 10px white, 0px 0 10px white, 0px 0 12px white, 0px 0 15px white; /* Glow */
	padding:3px 20px;
	text-decoration:none;
}

.button:hover {
	background: white;
}

.button.disabled {
	border-color: #999999;
	color: #333333;
	text-shadow: none;
	box-shadow: none;
}
b{ font-weight: bold;}
#error {
	top:0;
	width:100%;
	background:white;
	border-bottom:2px solid red;
	color:red;
	font-weight:bold;
	padding:10px;
	text-align:center;
	opacity:0.9;
	position:absolute;
}
.error {
	border: 1px dashed red;;
	color: red;
	background: #ffffaa;
	margin: 20px;
}

#logo {
	margin:0 auto;
	display:block;
}
#container {
	margin: 0px auto;
	width: 800px;
	position: relative;
}
#container > div {
	position: absolute;
	top: 0; left: 0; right: 0;
	min-height: 400px;
}
/* Form field labels */
.input {
  margin: 5px 0;
  background: white;
}
.input span {
  position: absolute;
  padding: 5px;
  margin-left: 3px;
  color: #999;
}
.input input, .input textarea, .input select {
  position: relative;
  margin: 0;
  border-width: 1px;
  padding: 6px;
  background: transparent;
  font: inherit;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea, .input select { padding: 4px; }
}
/* Register Form */
.form {
	margin-top:80px;
	padding:10px;
	width:400px;
	margin-left:200px;
	height:260px;
}
.form p {
	margin-top:10px;
}
.form a {
	float:left;
	margin-right:5px;
}
/* Forgotten password form */
#forgot {
	height:160px;
}
/* Lobby Layout */
.box {
	background: rgba(0, 0, 0, 0.53);
	color:white;
}

#profileBox {
	width:700px;
	height:64px;
	display:block;
	margin:20px 0px 20px 50px;
	position: relative;
}
	#profileBox img {
		position: absolute;
		top: 12px; left: 12px;
		width:40px;
		height:40px;
	}
	#profileBox #profileInfo {
		position: absolute;
		top: 12px; left: 64px;
	}
		#profileBox #profileInfo .welcome {
			font-size: 20px;
		}

		#profileBox #profileInfo .stats{
			margin: 5px 2px;
		}

	#profileBox #signedOut {
		position: absolute;
		top: 8px; right: 12px;
	}

	#profileBox #signedOut label, #profileBox #signedOut input {
		display: inline-block;
	}

	#profileBox #signedOut .links {
		text-align: right;
	}
	#profileBox #signedOut .links a {
		margin: 3px 6px;
		color: white;
	}

h1 {
	/*font-family:Palatino Linotype;*/
	font-weight:bold;
	font-size:24pt;
}

.modelist {
	/*font-family:Palatino Linotype;*/
	font-weight:bold;
	text-align:center;
	margin-left:30px;
}
.modelist li {
	margin-left:20px;
	padding-bottom:20px;
	width:160px;
	float:left;
	cursor: pointer;
}
.modelist li:hover {
	background: rgba(0, 0, 0, 0.72);
}
.modelist li div {
	height:100px;
}
.modelist h1 {
	font-size:48pt;
}
.modelist h2 {
	font-size:22pt;
	padding-top:15px;
}
.modelist h3 {
	font-size:18pt;
}
.modelist p {
	height: 50px;
	padding: 10px;
	/*font-family:Arial;*/
	font-weight:normal;
}

#privatelobby {
	width:700px;
	margin:0px 0px 0px 50px;
}
	#privatelobby > div {
		padding: 16px;
	}
	#privatelobby .title {
		font-size: 22px;
		font-weight: bold;
	}
	#privatelobby > div > p {
		margin: 30px 0 10px 0;
	}
	#privatelobby .playerchoices {
		position: relative;
		height: 46px;
	}
	#privatelobby .playerchoices > div {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 325px;
		background: rgba(0, 0, 0, 0.42);
		cursor: pointer;
	}
		#privatelobby .playerchoices > div:hover {
			background: rgba(0, 0, 0, 0.62);
		}
		#privatelobby .playerchoices > div.sel {
			outline: 3px solid #CCA;
			background: rgba(0, 0, 0, 0.79);
			box-shadow: 0px 0px 9px #FFE;
		}
	#privatelobby .playerchoices .p2 {
		left: 0;
	}
	#privatelobby .playerchoices .p4 {
		right: 0;
	}

		#privatelobby .playerchoices .big {
			position: absolute;
			top: 12px; left: 10px;
			font-size: 20px;
		}

		#privatelobby .playerchoices .players {
			position: absolute;
			left: 28px; top: 16px;
		}

		#privatelobby .playerchoices p {
			position: absolute;
			left: 90px; top: 16px; right: 8px; 
		}

	#privatelobby input {
		width: 100%;
		border: 0;
		border-radius: 3px;
		font-size: 17px;
		padding: 4px 0;
		text-indent: 4px;
	}

	#privatelobby > div > .players {
		padding-top: 30px;
	}

		#privatelobby .players > div {
			position: relative;
			display: inline-block;
			border-left: 1px solid rgba(255, 255, 255, 0.08);
			border-right: 1px solid rgba(0, 0, 0, 0.28);
			padding: 0 4px;
			width: 23%;
			cursor: pointer;
		}
		#privatelobby div .players > div:first-child { border-left: 0; }
		#privatelobby div .players > div:last-child { border-right: 0; }
	
			#privatelobby .players > div > .name {
				font-size: 14px;
			}

			#privatelobby .players > div > .colour {
				position: absolute;
				top: 5px;
				right: 5px;
				width: 4px;
				height: 4px;
				border-radius: 2px;
				background-color: #ccc;
				font-size: 14px;
			}

			#privatelobby .players > div > .offline {
				font-size: 10px;
				color: #ccc;
			}

	#privatelobby .buttons {
		margin-top: 15px;
		height: 20px;
		position: relative;
	}

	#privatelobby .buttons .button {
		position: absolute;
		top: 0;
	}

	#privatelobby #start { right: 0; display: none; }

.loading {
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	/* TODO: replace with something nicer */
	background: white url(../img/loading.gif) no-repeat center;
}



/*********** Game View CSS *****************/
.gameview svg {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
}
.gameboard {
	position: absolute;
	left: 200px; right: 200px; top: 0;
}
.playerpanelcontainer.left {
	position: absolute;
	top: 0; left: 0;
	width: 132px;
}
.playerpanelcontainer.left .playerpanel {
	height: 600px;
}
.playerpanelcontainer.right {
	position: absolute;
	top: 0; right: 0;
	width: 132px;
}
.playerpanelcontainer.right .playerpanel {
	height: 200px;
}

.playerpanel {
	background: rgba(0, 0, 0, 0.5);
}