#lobby {
	margin: 0 auto;
	margin-top:40px;
	width:400px;
}

.modelist {
	margin-top:35px;
}

.modelist li {
	margin-left:75px;
	margin-top:10px;
	width:250px;
	background: #E3EEF2 url('../img/BulletE.png') no-repeat 8px 13px;
	border: 2px solid #6A7276;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.modelist li a {
	width:210px;
	height:35px;
	display:block;
	font-weight: bold;
	text-decoration: none;
	color:black;
	font-size: 20px;
	padding-left:40px;
	padding-top:15px;
}

.modelist li:hover {
	background-color: #BCD6E1;
}

.modelist li.sel {
	background: #BCD6E1 url('../img/BulletF.png') no-repeat 8px 13px;
}

h2 {
	font-size:22px;
	font-weight:bold;
}

p {
	margin-top:10px;
}

.lobbylist {
	width: 350px;
	margin-top:10px;
	margin-bottom:20px;
	float:left;
	height: 200px;
	background: #E3EEF2;	
	border: 2px solid #6A7276;
	border-radius: 5px;
	-moz-border-radius: 5px;
	overflow:auto;
}

.lobbylist li {
	padding:10px;
	display: block;
	height: 25px;
	width: 310px;
	border-bottom: 2px solid #6A7276;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#privatebutton.sel {
	border-bottom: 2px solid #BCD6E1;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
}

#privatelobby {
	display: none;
	background: #BCD6E1;
	padding:20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border:2px solid #6A7276;
}

#privatelobby  .button{
	float:right;
}